@using TimeTravelAgency.Domain.Enum
@model List<TimeTravelAgency.Domain.Entity.User>

@{
    ViewBag.Title = "Список пользователей";
    Layout = "_Layout";
}

<table border="1", solid="grey">
    <tr><th>Логин</th><th>Роль</th></tr>
@foreach(var user in Model){
    <tr>
        <td>@user.ULogin</td>
        <td>@EnumExtensions.GetDisplayName(@user.URole)</td>
       
        @*<a asp-controller="Tour" asp-action="UpdateUser" asp-route-id="@user.Id" >Изменить</a>
        <a asp-controller="Tour" asp-action="DeleteUser" asp-route-id="@user.Id" >Удалить</a>*@
    </tr>
}
</table>