@using TimeTravelAgency.Domain.Enum
@model List<TimeTravelAgency.Domain.Entity.User>

@{
    ViewBag.Title = "Список пользователей";
    Layout = "_Layout";
}

<div class="container-fluid no-mp">
    <div class="row justify-content-center">
        <div class="col-8 mt-3">
            <div class="my-4">
                <div class="container-fluid text-center mb-3">
                    <h2>Список пользователей</h2>
                </div>
                <table class="table table-striped" border="1" solid="grey">
                    <thead>
                        <tr><th>Логин</th><th>Роль</th><th></th><th></th></tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.ULogin</td>
                                <td>@EnumExtensions.GetDisplayName(@user.URole)</td>
                                <td><a class="link-dark" asp-controller="Account" asp-action="UpdateUser" asp-route-id="@user.Id">Изменить</a></td>
                                <td><a class="link-dark" asp-controller="Account" asp-action="DeleteUser" asp-route-id="@user.Id">Удалить</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>