@using TimeTravelAgency.Domain.Entity
@using TimeTravelAgency.Domain.Enum
@model List<TimeTravelAgency.Domain.Entity.ExtendedOrder>

@{
    ViewBag.Title = "Корзина";
    Layout = "_Layout";
}

@foreach(var order in Model){
    <div>
        <h3>@order.Title</h3>
        <p>@order.DateStart - @order.DateEnd</p>
        <p>@order.DateCreate</p>
        <p>@EnumExtensions.GetDisplayName(order.Status)</p>
        <a asp-controller="Order" asp-action="DeleteOrder" asp-route-id="@order.Id" >Удалить</a>
    </div>
}